[submodule "data/common"]
	path = data/common
	url = git@github.com:6wunderkinder/add-to-wunderlist-common.git
[submodule "webapp"]
	path = webapp
	url = git@github.com:6wunderkinder/wunderlist-web-2.0.git
